.hero {
    background-image: url('./images/lowcity.jfif');
    background-size: cover;
    height: 100vh;
    background-position:  50% 50%;
    background-repeat: none;
    /* height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px; */
}