
/* ************ */
 /* General Styles */
 /* ************ */
h1, p, a{

    font-family: 'Montserrat', sans-serif;;

}

/* ************ */
 /* Hero Section */
 /* ************ */

.hero {
    background-image: url('./images/lowcity.jfif');
    background-size: cover;
    background-repeat: none;
    height: 800px;
    background-position: 50% 50%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.desktop-links {
    margin: 0;
    padding: 0;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    
}

nav {
    width: 200px;
    height: 900px;
    color: white;
    display: flex;
    /* align-items: flex-end; */

    padding: 0;

   

}

li {

    list-style: none;
    justify-content: space-around;

}

nav a {
    color: black;
    padding-left: 17px;
    padding-top: 20px;
}


.logo {

    background-image: url(./logo/low-logo-05.svg);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    height: 800px;
    /* line-height: 500px; */
    width: 70px;

}

.hero-content h1 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
}

.hero-content p {
    color:grey;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.hero-content a {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

@media (max-width: 600px) {
    .hero-content h1 {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

}
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Coda Caption', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Notable', sans-serif;
font-family: 'Russo One', sans-serif; */